/* You can add global styles to this file, and als import other style files */
@import 'ag-grid-community/styles/ag-grid.css'
@import 'ag-grid-community/styles/ag-theme-quartz.css'
html, body
    height: 100%
body
    margin: 0
    font-family: Roboto, "Helvetica Neue", sans-serif
    background: black


.mat-mdc-dialog-surface
    background-color: white !important
    box-shadow: none !important
    border-radius: 8px
    color: black !important


.mdc-label
    color: black

.btn-main
    background-color: #1E0F1C
    border-radius: 50px
    padding: 10px 20px
    color: #ffffff !important
    border: none
    font-weight: 600

    //&:hover
    //    background-color: $main-color-hover

    &.disabled
        background-color: gray
        opacity: 0.65
        color: white !important
        cursor: default !important


.bloc
    background: black
    padding: 20px 20px

    &.spe
        .drag-scroll-content
            display: flex !important
            gap: 20px


.glass
    display: flex
    gap: 10px
    padding: 12px 32px
    text-decoration: none
    border-radius: 15px
    background-color: rgba(255,255,255,0.1)
    border: 1px solid rgba(255,255,255,0.1)
    backdrop-filter: blur(30px)
    color: rgba(255,255,255,0.8)
    font-size: 14px
    letter-spacing: 2px
    cursor: pointer


.glass:hover
    background-color: rgba(255,255,255,0.2)


.card
    flex: 0 0 auto
    width: 200px
    display: flex!important
    gap: 10px
    background-color: black

    .image-event
        width: 100%
        border-radius: 15px
        overflow: hidden

        img
            width: 100%
            height: 100%
            object-fit: cover
            border-radius: 15px
            cursor: pointer

    .title
        text-align: center
        color: rgba(255,255,255,0.9)
        font-size: 1rem
        padding: 0 5px
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

    .note
        display: flex
        justify-content: center
        gap: 6px

        span
            color: rgba(255,255,255,0.75)


.btn-glass
    display: flex
    gap: 10px
    align-items: center


.mat-mdc-dialog-surface
    overflow-y: auto!important

.mat-mdc-dialog-surface::-webkit-scrollbar
    width: 0 !important
    height: 0 !important

.ag-body-viewport
    scrollbar-width: none!important

.ag-body-vertical-scroll-viewport::-webkit-scrollbar
    display: none!important


