<form [formGroup]="partieForm">
    <div>
        <label for="name">Nom de la partie</label>
        <input id="name" formControlName="name" required>
    </div>
    <div>
        <label for="password">Mot de passe</label>
        <input id="password" type="password" formControlName="password" required>
    </div>

    <mat-checkbox formControlName="no_password" (change)="onCheckboxChange()">
        Sans Mot de Passe
    </mat-checkbox>

    <button type="submit" (click)="sendEditForm()">Modifier</button>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
</form>