.bloc
    display: flex
    align-items: center
    justify-content: space-between
    padding: 10px 20px

.logo
    display: flex
    color: white

.middle
    display: flex
    align-items: center

.profil
    display: flex
    color: white
