.bloc
    display: flex
    padding: 20px
    gap: 20px
    .left

    .right
        display: flex
        flex-direction: column

        .onglet
            display: flex
            gap: 20px

            .onglet-name
                cursor: pointer

        .title
            span
                font-weight: bold

        .btn-main
            align-self: flex-start
