/* Container styles */
.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: transparent;
    /* Change to semi-transparent if you want an overlay */
}

/* Spinner container */
.spinner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    /* Adjusted to fit bigger circles */
    height: 160px;
    position: relative;
}

/* Circles */
.circle {
    width: 24px;
    /* Increased size */
    height: 24px;
    /* Increased size */
    margin: 0 7px;
    /* Adjust spacing */
    background-color: #3498db;
    /* Default color */
    border-radius: 50%;
    animation: bounce 1.5s infinite ease-in-out;
}

/* Individual delays and colors */
.circle:nth-child(1) {
    animation-delay: -0.4s;
    background-color: #b93f24;
    /* Orange */
}

.circle:nth-child(2) {
    animation-delay: -0.2s;
    background-color: #2d9941;
    /* Green */
}

.circle:nth-child(3) {
    animation-delay: 0s;
    background-color: #3048b6;
    /* Blue */
}

/* Bounce animation */
@keyframes bounce {

    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}
