@if(mesParties){
    <div class="example-wrapper">

        <p>{{partie}}</p>

        @if (roleUser == "hote") {
            <a class="btn btn-primary" [routerLink]="'/mesParties/' + partieId + '/edit'">Modifier</a>
            @if (tirageResultats.length == 0) {
                <a class="btn btn-warning" (click)="tirage(partieId)">Commencer le jeu</a>
                <a class="btn btn-secondary" [routerLink]="'/mesParties/' + partieId + '/restriction'">Restriction</a>
            }
            @else {
                <button type="submit" class="btn btn-warning" (click)="finPartie(partieId)">Fin de la partie</button>
            }
        }
        <a class="btn btn-primary" [routerLink]="'/mesParties/' + partieId + '/addSouhait'">Souhaits</a>

    </div>


    <div class="d-flex justify-content-start align-items-center ">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Liste des joueurs
            </div>
            <ul class="list-group list-group-flush">
                @for (partieRejoint of partiesRejoints; track partieRejoint) {
                    @for (user of users; track user) {
                        @if (user.id == partieRejoint.user.id) {
                            <li class="list-group-item">
                                {{user.name}}
                                @if (user.id == userId) {
                                    (vous)
                                }
                                @if (partieRejoint.role == "hote") {
                                    (hote)
                                }
                                @if (roleUser == "hote" ) {
                                    @if (partieRejoint.partie.state == false) {
                                        @if (user.id != userId ) {
                                            <button type="submit" class="btn btn-danger" (click)="kick(user.id)">Exclure</button>
                                        }
                                    }
                                }
                            </li>
                        }
                    }
                }
            </ul>
        </div>
    </div>
    <div class="d-flex justify-content-start align-items-center">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Cible
            </div>
            <ul class="list-group list-group-flush">
                @for (resultat of tirageResultats; track resultat) {
                    @if (userId == resultat.joueur.id ) {
                        @for (user of users; track user ){
                            @if (user.id == resultat.destinataire.id) {
                                <li class="list-group-item">{{ user.name }}</li>
                                <!-- @for (partieRejoint of partiesRejoints; track partieRejoint) {
                                    @if (user.id == partieRejoint.user.id) {
                                        @if (partieRejoint.souhaits is iterable){
                                            @for (souhait of partieRejoint.souhaits; track souhait) {
                                                <li class="list-group-item">{{ souhait }}</li>
                                            }
                                        }@else {
                                            @for (souhait in partieRejoint.souhaits|split(',')) {
                                                <li class="list-group-item">
                                                    @for (part in souhait; track part|split(' ')) {
                                                        @if (part matches '/^https?:\\/\\/\\S+$/') {
                                                            <a href="{{ part|trim }}">{{ part|trim }}</a>
                                                        }@else {
                                                            {{ part ~ ' ' }}
                                                        }
                                                    }
                                                </li>
                                            }
                                        }
                                    }
                                } -->
                            }
                        }
                    }
                }
            </ul>
        </div>
    </div>
}@else{
<mat-spinner></mat-spinner>
}
