<form [formGroup]="souhaitForm">
    <div>
        <label for="souhaits">Souhait :</label>
        <input type="text" formControlName="souhaits" id="souhaits">
        <button class="btn btn-warning" (click)="addListSouhait()">add</button>
    </div>



    <div class="d-flex justify-content-start align-items-center ">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Liste des Souhaits
            </div>
            <ul class="list-group list-group-flush">
                @for (souhait of souhaits; track $index) {
                    <li class="list-group-item">
                        <p>{{ souhait }} <button class="btn btn-danger" (click)="deleteSouhait($index)">X</button></p>
                    </li>
                }
            </ul>
        </div>
    </div>


    <button class="btn btn-secondary" type="submit" [routerLink]="'/mesParties/view/'+partieId" >Retour</button>
</form>
