<div class="example-wrapper">
    <h1>Hello! ✅</h1>

    <a class="btn btn-primary" [routerLink]="'/mesParties/create'">Ajout</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">nom</th>
                <th scope="col">option</th>
            </tr>
        </thead>
        <tbody>
            @for (maPartie of mesParties; track maPartie) {
            <tr>
                <td>
                    <a [routerLink]="'/mesParties/view/'+maPartie.partie.id">{{maPartie.partie.id}}</a>
                </td>
                <td>{{maPartie.partie.name}}</td>
                <td>
                    @if (maPartie.role == "hote" ) {
                    <a class="btn btn-primary" [routerLink]="'/mesParties/' + maPartie.id + '/edit'">Modifier</a>
                    }
                    <button type="submit" class="btn btn-secondary"
                        (click)="quitter(maPartie.partieRejointId)">quitter</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
