<div class="bloc">
    <div class="top-event">

    </div>
    <drag-scroll>
        @for (event of moviesGenre(); track $index) {
            <div class="card" drag-scroll-item (click)="openDetail(event)">
                <div class="image-event">
                        <img src="https://image.tmdb.org/t/p/w342{{event.poster_path}}" alt="{{event.title}}">
                </div>
                <div class="title">
                    {{event.title}}
                </div>
            </div>
        }
    </drag-scroll>
</div>

