// login.component.scss

.login-container {
  max-width: 400px;
  /* Limite la largeur du formulaire */
  margin: 50px auto;
  /* Centre le formulaire verticalement */
  padding: 20px;
  /* Ajoute un peu de remplissage à l'intérieur du conteneur */
  border: 1px solid #e0e0e0;
  /* Bordure légère autour du formulaire */
  border-radius: 8px;
  /* Coins arrondis */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* Ombre légère */
  background-color: #ffffff;
  /* Fond blanc */

  h2 {
    text-align: center;
    /* Centre le titre */
    margin-bottom: 20px;
    /* Ajoute de l'espace en dessous du titre */
    font-size: 24px;
    /* Taille de la police du titre */
    color: #333;
    /* Couleur du texte du titre */
  }

  mat-form-field {
    width: 100%;
    /* Utilise toute la largeur du conteneur */
    margin-bottom: 20px;
    /* Ajoute de l'espace en bas des champs */
  }

  button {
    width: 100%;
    /* Utilise toute la largeur pour le bouton */
    padding: 10px;
    /* Ajoute du remplissage au bouton */
    font-size: 16px;
    /* Taille de la police du bouton */
  }

  .loader {
    text-align: center;
    /* Centre le texte de chargement */
    margin-top: 20px;
    /* Ajoute un peu d'espace au-dessus */
    font-size: 16px;
    /* Taille de la police du texte de chargement */
    color: #007bff;
    /* Couleur bleue pour le texte de chargement */
  }
}
